stages:
  - build_1
  - build_2
  - build_3

# Reference: 
# https://gitlab.cern.ch/gitlabci-examples/build_docker_image/-/blob/daeca041733e2af279df38a3b9e8123111c62871/.gitlab-ci.yml
build_cms_grid:
    stage: build_1
    variables:
      IMAGE_DESTINATION: ${CI_REGISTRY_IMAGE}:cms_grid
      IMAGECACHE_DESTINATION: ${CI_REGISTRY_IMAGE}/cms_grid_cache
    image: 
        name: gitlab-registry.cern.ch/ci-tools/docker-image-builder
        entrypoint: [""]
    script:
        - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
        - /kaniko/executor --context $CI_PROJECT_DIR/cms_grid --dockerfile $CI_PROJECT_DIR/cms_grid/Dockerfile --destination $IMAGE_DESTINATION --cache=true --cache-repo $IMAGECACHE_DESTINATION
        - echo "Image pushed successfully to ${IMAGE_DESTINATION}"

# Reference:
# https://gitlab.cern.ch/ci-tools/docker-image-builder/-/blob/b756ab0a85983439cd241457ce33bc7e5f940b86/README.md

build_jenkins_python:
  stage: build_1
  tags:
    - docker-image-build
  script:
    - docker build -t jenkins_python .
  variables:
    TO: $CI_REGISTRY_IMAGE:jenkins_python
    CONTEXT_DIR: jenkins_python
    DOCKER_FILE: Dockerfile
    FROM: python:2

build_jenkins_python3:
  stage: build_1
  tags:
    - docker-image-build
  script:
    - docker build -t jenkins_python3 .
  variables:
    TO: $CI_REGISTRY_IMAGE:jenkins_python3
    CONTEXT_DIR: jenkins_python
    DOCKER_FILE: py3.Dockerfile
    FROM: python:3.8.2

build_wmcore_pylint:
  stage: build_1
  tags:
    - docker-image-build
  script:
    - docker build -t wmcore_pylint .
  variables:
    TO: $CI_REGISTRY_IMAGE:wmcore_pylint
    CONTEXT_DIR: wmcore_pylint
    FROM: python:3.8.2-slim

build_wmcore_base:
  stage: build_2
  tags:
    - docker-image-build
  script:
    - docker build -t wmcore_base .
  variables:
    TO: $CI_REGISTRY_IMAGE:wmcore_base
    CONTEXT_DIR: wmcore_base
    FROM: $CI_REGISTRY_IMAGE:cms_grid

build_wmcorepy3_tests:
  stage: build_3
  tags:
    - docker-image-build
  script:
    - docker build -t wmcorepy3_tests .
  variables:
    TO: $CI_REGISTRY_IMAGE:wmcorepy3_tests
    CONTEXT_DIR: wmcore_tests
    DOCKER_FILE: Dockerfile
    FROM: $CI_REGISTRY_IMAGE:wmcore_base

build_dbs_tests:
  stage: build_3
  tags:
    - docker-image-build
  script:
    - docker build -t dbs_tests .
  variables:
    TO: $CI_REGISTRY_IMAGE:dbs_tests
    CONTEXT_DIR: dbs_tests
    FROM: $CI_REGISTRY_IMAGE:wmcore_base

build_crab_tests:
  stage: build_3
  tags:
    - docker-image-build
  script:
    - docker build -t crab_tests .
  variables:
    TO: $CI_REGISTRY_IMAGE:crab_tests
    CONTEXT_DIR: crab_tests
    FROM: $CI_REGISTRY_IMAGE:wmcore_base


