<h1>Warnings from pycodestyle (pep8) by file</h1>
<ul>
    {% for filename, filereport in report|dictsort %}
        <li>{{ filename }}</li>
        <ul>
            {% for line in filereport %}
              <li>Line {{line[0]}}, {{line[1]}} {{line[2]}}</li>
            {% endfor %}
        </ul>
    {% endfor %}
    {% if not report %}
        <li>Nothing to report</li>
    {% endif %}
</ul>
