<a name="pyfuture"/>
<h1 id="pyfuture">Summary of python3 compatibility report</h1>
    {% for filename, reportlist in report|dictsort %}
        {% if 'added.message' in filename %}
            <h2> Imports for Python3 compatability missing in new files. Please fix this: </h2>
            <ul>
                {% for report in reportlist %}
                    <li> {{ report }}</li>
                {% endfor %} 
            </ul>
        {% endif %}
        {% if 'test.patch' in filename %}
            <h2> Pre-python 2.6 constructs are introduced by this pull request. This must be fixed. Suggested patch follows: </h2>
            <pre>
                {%- for report in reportlist %}
                    {{- report }}
                {%- endfor %} 
            </pre>
        {% endif %}
        {% if 'idioms.patch' in filename %}
            <h2> Pre-python 2.6 idioms found in changed files. Please consider updating the code. Suggested patch follows: </h2>
            <pre>
                {%- for report in reportlist %}
                    {{- report }}
                {%- endfor %} 
            </pre>
        {% endif %}
    {% endfor %}
