{% macro score_report(filename, score, baseScore=False) -%}
    <li>
        {%- if score and baseScore %}
            {%- if score|float < baseScore|float or score|float < 8.0 %}
                <b>
            {%- endif %}
            {%- if baseScore %}
                {%- if score|float < 8.0 %}
                    {{ filename }} is poor quality with score of {{ score }}
                {%- elif baseScore != score %}
                    {{ filename }} score changed from {{ baseScore }} to {{ score }}
                {%- else %}
                    {{ filename }} score unchanged at {{ score }}
                {%- endif %}
            {%- else %}
                {{ filename }} added with score {{ score }}
            {%- endif %}
            {%- if score|float < baseScore|float or score|float < 8.0 %}
                </b>
            {%- endif %}
        {%- elif score %}
            {%- if score|float < 8.0 %}
                <b>{{ filename }} is poor quality with score of {{ score }}</b>
            {%- else %}
                {{ filename }} added with score of {{ score }}
            {%- endif %}
        {%- else %}
            {{ filename }} deleted
        {%- endif %}
    </li>
{%- endmacro %}


{% if whichPython == 'Python2' %}
    <a name="pylintpy2"/>
    <h1 id="pylintpy2">Summary of Python2 pylint report</h1>
{% else %}
    <a name="pylintpy3"/>
    <h1 id="pylintpy3">Summary of Python3 pylint report</h1>
{% endif %}
<ul>
    {% for filename, filereport in report|dictsort %}
        {% if 'test' in filereport %}
            {% if filereport.base %}
                {{ score_report(filename, filereport.test.score, filereport.base.score) }}
            {% else %}
                {{ score_report(filename, filereport.test.score) }}
            {% endif %}
        {% endif %}
    {% endfor %}
</ul>
