{% if whichPython == 'Python2' %}
    <a name="unittestspy2"/>
    <h1 id="unittestspy2">Python2 unit test summary</h1>
{% else %}
    <a name="unittestspy3"/>
    <h1 id="unittestspy3">Python3 unit test summary</h1>
{% endif %}

<ul>
    {% if newFailures %}
        <li>{{ newFailures|length }} tests newly failing</li>
    {% endif %}
    {% if added %}
        <li>{{ added|length }} tests added</li>
    {% endif %}
    {% if deleted %}
        <li>{{ deleted|length }} tests deleted</li>
    {% endif %}
    {% if unstableChanges %}
        <li>{{ unstableChanges|length }} unstable tests changed</li>
    {% endif %}
    {% if okChanges %}
        <li>{{ okChanges|length }} tests improved</li>
    {% endif %}
    {% if not (newFailures or added or deleted or unstableChanges or okChanges) %}
        <li>No changes to unit tests</li>
    {% endif %}
</ul>

{% if newFailures or added or deleted or unstableChanges or okChanges %}
    {% if newFailures %}
        <h3>New failures of unit tests (must be resolved)</h3>
        <ul>
            {% for test in newFailures %}
                <li>{{ test.name }} changed from {{ test.old }} to {{ test.new }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if added %}
        <h3>Unit tests added</h3>
        <ul>
            {% for test in added %}
                {%- if  test.new in errorConditions %}
                    <li>{{ test.name }} was added with status {{ test.new }}. Must be fixed</li>
                {%- else %}
                    <li>{{ test.name }} was added with status {{ test.new }}</li>
                {%- endif %}
            {% endfor %}
        </ul>
    {% endif %}

    {% if deleted %}
        <h3>Unit tests deleted (should be checked)</h3>
        <ul>
            {% for test in deleted %}
                <li>{{ test.name }} ({{ test.old }}) was deleted</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if unstableChanges %}
        <h3>Unstable unit tests changed (should be checked)</h3>
        <ul>
            {% for test in unstableChanges %}
                <li>{{ test.name }} changed from {{ test.old }} to {{ test.new }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if okChanges %}
        <h3>Changed unit tests</h3>
        <ul>
            {% for test in okChanges %}
                <li>{{ test.name }} changed from {{ test.old }} to {{ test.new }}</li>
            {% endfor %}
        </ul>
    {% endif %}

{% endif %}
